[alias]
  # List aliases.
	aliases = config --get-regexp alias

  # View the current working tree status using the short format.
	s = status -s
 
  # List contributors with number of commits.
	contributors = shortlog --summary --numbered

  # Show the user email for the current repository.
  whoami = config user.email

[pull]
	ff = only

[color "status"]
  added = green
  changed = red bold
  untracked = magenta bold

[color "branch"]
  remote = yellow

[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
